---
import "../styles/global.css";
import ThemeInit from "../components/ThemeInit.astro";
import SeoHead from "../components/SeoHead.astro";
import Header from "../components/Header.astro";
import HeroSection from "../components/HeroSection.astro";
import AboutSection from "../components/AboutSection.astro";
import CategoriesSection from "../components/CategoriesSection.astro";
import EventGallerySection from "../components/EventGallerySection.astro";
import JourneySection from "../components/JourneySection.astro";
import MagazineSection from "../components/MagazineSection.astro";
import NomineesSection from "../components/NomineesSection.astro";
import SiteFooter from "../components/SiteFooter.astro";
import { assetPaths, seo } from "../data/home";
import { buildAwardProgramSchema, buildPageSchema } from "../lib/seo";
---

<!doctype html>
<html lang="en">
  <head>
    <ThemeInit />
    <SeoHead
      title={seo.title}
      description={seo.description}
      keywords={seo.keywords}
      path="/"
      image={assetPaths.trophy}
      schema={[
        buildPageSchema({
          path: "/",
          title: seo.title,
          description: seo.description,
          image: assetPaths.trophy,
        }),
        buildAwardProgramSchema(),
      ]}
    />
  </head>
  <body>
    <div class="min-h-screen animate-[pageFade_420ms_ease_both] bg-[var(--c-page-glow)]">
      <Header />
      <main>
        <HeroSection />
        <AboutSection />
        <EventGallerySection />
        <MagazineSection />
        <CategoriesSection />
        <JourneySection />
        <NomineesSection />
      </main>
      <SiteFooter />
    </div>
  </body>
</html>
