<svg
  class="footer-organiser-logo"
  viewBox="0 0 6636 1868"
  role="img"
  aria-labelledby="lbc-logo-title"
>
  <title id="lbc-logo-title">London Business Consultancy</title>
  <defs>
    <mask id="lbc-logo-mask" maskUnits="userSpaceOnUse" x="0" y="0" width="6636" height="1868">
      <image
        href="/assets/brand/london-business-consultancy-logo-mask.png"
        x="0"
        y="0"
        width="6636"
        height="1868"
        preserveAspectRatio="xMidYMid meet"
      />
    </mask>
  </defs>
  <rect width="6636" height="1868" fill="currentColor" mask="url(#lbc-logo-mask)" />
</svg>
